* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.wrapper
{
    position: fixed;
    height: 80px;
    width: 1536px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    background: #FFFFFF;
    z-index: 10000;
}

.wrapper img
{
    position: relative;
    width: 47px;
    height: 35px;
    left: 30px;
    top: 5px;
}

#logo
{
    position: absolute;
    width: 167px;
    height: 29px;
    left: 85px;
    top: 30px;
    
    font-family: 'Comfortaa',cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.wrapper ul {
    position: relative;
    display: flex;
    cursor: pointer;
}

.wrapper ul li {
    position: relative;
    list-style: none;
}

.wrapper ul li a {
     position: relative;
     padding: 5px 10px;
     color: #000;
     left: 260px;
     top: 12px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     color:red;
     display: inline-block;
     text-decoration: none;
     cursor: pointer;
}

.login
{
    position: relative;
    left: 42.5px;
    top: 11px;
    bottom: 700px;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    /* Red */
  
    color: #EB5757;

}
#loginbutton
{
    position: relative;
    width: 130px;
    height: 40px;
    left: 700px;
    background: #FFFFFF;
    cursor: pointer;
    border: 1px solid #EB5757; /* Red */
    box-sizing: border-box;
    border-radius: 6px;
}

.register
{
    position: relative;
    left: 35px;
    top: 11px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;


}
#registerbutton
{
    position: relative;
    width: 130px;
    height: 40px;
    left: 685px;
    cursor: pointer;
    /* Red */
    background: #EB5757;
    border-radius: 6px;
    z-index: -1000;
}

.top_background
{
    position: absolute;
    height: 500px;
    width: 1536px;
    background: linear-gradient(180deg,
     #9F0808 47.88%, rgba(15, 0, 0, 0.0520833) 90.31%, rgba(2, 0, 0, 0) 100%);
     z-index: 4;
}



/*Text after Carosuel*/
.aftercaroseul
{
    position: relative;
    padding: 300 0 0 0;
    font-size: 50;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: black;
}

.join /*Text in Red box*/
{
    position: relative;
    left: 67px;
    top: 14px;
    font-size: 18;
    font-weight: 250;
    font-family: Montserrat, sans-serif;
    text-align: center;
    align-content: center;
    color: whitesmoke;
}

#jointoday /*Red Box*/
{
    position: relative;
    margin-left: 635px;
    margin-top: 5;
    width: 225;
    height: 50;
    align-content: center;
    cursor: pointer;
    
    background: rgb(255, 22, 22);
    border-radius: 6px;
    
}
#middletext p
{
   padding: 900 0 0 0;
    position: relative;
    font-weight: 100;
    text-align: center;
    font-size: 30;
    font-family: Montserrat, sans-serif;
}

#carouselExampleIndicators
{
    position: relative;
    height: 10  30px;
    width: 1536px;
    display: flex;
}
