
.wrapper
{
    width: 100%;
    max-width: 90rem;
    margin: auto;
    min-height: 10rem;
    
}

#imagelogo
{
    position: absolute;
width: 67px;
height: 50px;
left: 6px;
top: 3px;

background: url(image.png);
}


#logo
{
    position: absolute;
    width: 167px;
    height: 29px;
    left: 71px;
    top: 15px;
    
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #000000;
    

}

#Home
{
    position: absolute;
    width: 47px;
    height: 18px;
    left: 258px;
    top: 21px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #FF0000;
    

}

#Gallery
{
    position: absolute;
width: 52px;
height: 18px;
left: 333px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FB1818;

}

#customcars
{
    position: absolute;
    width: 95px;
    height: 18px;
    left: 403px;
    top: 21px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #FB1818;
    
}

#support
{
    position: absolute;
width: 61px;
height: 18px;
left: 520px;
top: 21px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FF0000;

}

#community
{
    position: absolute;
    width: 89px;
    height: 18px;
    left: 601px;
    top: 21px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #F90000;
    
}

#login
{
    position: absolute;
    left: 1180px;
    top: 5px;
    bottom: 700px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    /* Red */
  
    color: #EB5757;

}
#loginbutton
{
    position: absolute;
    width: 130px;
    height: 40px;
    left: 1138px;
    top: 10px;
    

background: #FFFFFF;
/* Red */

border: 1px solid #EB5757;
box-sizing: border-box;
border-radius: 6px;
}
#register
{
    position: absolute;
left: 84%;
right: 4%;
top: -64.75%;
bottom: 27.5%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;


}
#registerbutton
{
    position: absolute;
width: 130px;
height: 40px;
left: 1255px;
top: 10px;

/* Red */

background: #EB5757;
border-radius: 6px;
}

#top_background
{
    position: absolute;
    margin-top: -105px;
    margin-left: -20px;
    
    width: 1548px;
    height: 500px;
    
    background: linear-gradient(180deg,
     #9F0808 46.88%, rgba(15, 0, 0, 0.0520833) 95.31%, rgba(2, 0, 0, 0) 100%);
}